HTML {
	BORDER-TOP-WIDTH: 0px; OVERFLOW-Y: scroll; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(http://img1.51cto.com/images/group/template/6/green_bg.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 12px "宋体", sans-serif; PADDING-TOP: 0px
}
UNKNOWN {
	CLEAR: both; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
FORM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DIV {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H1 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H2 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H3 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H4 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
TABLE {
	FONT: 12px "宋体", sans-serif; COLOR: #333
}
INPUT {
	FONT: 12px "宋体", sans-serif; COLOR: #333
}
TEXTAREA {
	FONT: 12px "宋体", sans-serif; COLOR: #333
}
SELECT {
	FONT: 12px "宋体", sans-serif; COLOR: #333
}
H1 {
	FONT-SIZE: 18px
}
H1 A {
	TEXT-DECORATION: none
}
H1.subject {
	TEXT-ALIGN: center
}
.act_div {
	BACKGROUND: #dddddd; WIDTH: 150px; LINE-HEIGHT: 24px
}
.act_div A {
	LINE-HEIGHT: 24px; TEXT-DECORATION: none
}
.nas LI A {
	COLOR: #fff
}
.nas LI A.manager_class {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #cc0000; TEXT-DECORATION: underline
}
A {
	COLOR: #464646; LINE-HEIGHT: normal; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #f00; TEXT-DECORATION: underline
}
A:unknown {
	moz-outline-style: none
}
A.texta {
	COLOR: #333
}
TEXTAREA {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: white
}
SELECT {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: white
}
INPUT.text {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 16px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: white
}
INPUT.button {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; BORDER-LEFT: #ccc 1px solid; CURSOR: pointer; LINE-HEIGHT: 18px; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: white
}
INPUT.button-submit {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; BORDER-LEFT: #ccc 1px solid; CURSOR: pointer; COLOR: red; LINE-HEIGHT: 18px; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: white
}
.clear {
	CLEAR: both; BORDER-TOP: transparent 0px solid; MARGIN-TOP: 0px; VISIBILITY: hidden
}
.clearfix:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
UNKNOWN {
	DISPLAY: inline-block; WIDTH: 100%
}
 HTML .clearfix {
	HEIGHT: 1%
}
UNKNOWN {
	MIN-HEIGHT: 1%
}
#topPadding {
	DISPLAY: none; LINE-HEIGHT: 1px; HEIGHT: 5px
}
#wrapper {
	
}
#innerWrapper {
	BACKGROUND: #f7f7f7; WIDTH: 990px
}
#header {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: center 50%; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(http://img1.51cto.com/images/group/template/6/green_banner.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 140px
}
#innerHeader {
	PADDING-RIGHT: 20px; BACKGROUND-POSITION: center 50%; BACKGROUND-REPEAT: no-repeat; HEIGHT: 140px
}
#blogTitle {
	PADDING-LEFT: 32px; PADDING-TOP: 20px; HEIGHT: 45px
}
#blogTitle A {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #ffffff; LINE-HEIGHT: 1.6em
}
#blogTitle INPUT {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #ffffff; LINE-HEIGHT: 1.6em
}
#blogDesc {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 35px; COLOR: #ffffff; PADDING-TOP: 0px
}
#blogDesc A {
	FONT-SIZE: 12px; COLOR: #ffffff
}
#head_right A {
	COLOR: #000
}
#head_right .sign {
	FLOAT: right; WIDTH: 60px; COLOR: #000; MARGIN-RIGHT: 10px; PADDING-TOP: 0px; HEIGHT: 17px! important; TEXT-ALIGN: center
}
.top_bottom_left {
	MARGIN-TOP: 20px! important; PADDING-LEFT: 35px! important; FLOAT: left; WIDTH: 8%
}
.top_message {
	FLOAT: right; WIDTH: 100px; COLOR: #ff0; MARGIN-RIGHT: 10px; PADDING-TOP: 0px
}
.top_message A {
	COLOR: #ff0
}
.no_member {
	BORDER-RIGHT: #d2d2d2 1px solid; BACKGROUND-POSITION: 50% bottom; BACKGROUND-IMAGE: url(http://blog.51cto.com/images/group/template/6/nomem.gif); BORDER-LEFT: #d2d2d2 1px solid; BACKGROUND-REPEAT: repeat-x; HEIGHT: 30px; TEXT-ALIGN: center
}
.on_member {
	BORDER-RIGHT: #357b18 1px solid; BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url(http://blog.51cto.com/images/group/template/6/onmem.gif); BORDER-LEFT: #357b18 1px solid; COLOR: #ffffff; BACKGROUND-REPEAT: repeat-x; HEIGHT: 30px; TEXT-ALIGN: center
}
.no_member A {
	TEXT-DECORATION: none
}
.on_member A {
	COLOR: #ffffff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#neckWrapper {
	DISPLAY: none; BACKGROUND: none transparent scroll repeat 0% 0%
}
#innerNeckWrapper {
	DISPLAY: none; BACKGROUND: none transparent scroll repeat 0% 0%
}
#mainWrapper {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 4px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#innerMainWrapper {
	MARGIN: 0px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.uservisit {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FLOAT: left; MARGIN: 1px; VERTICAL-ALIGN: bottom; BORDER-LEFT: #cccccc 1px solid; WIDTH: 80px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 82px; BACKGROUND-COLOR: #eeeeee; TEXT-ALIGN: center
}
.userdiy {
	FLOAT: left; MARGIN: 2px
}
.mod {
	FLOAT: right; MARGIN: 5px 6px 10px 10px
}
#content A {
	TEXT-DECORATION: underline
}
.author {
	COLOR: #999
}
.member_a {
	BORDER-RIGHT: #f2bbab 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #f2bbab 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 4px; BORDER-LEFT: #f2bbab 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #f2bbab 1px solid; BACKGROUND-COLOR: #fffbf9
}
.member_s {
	BORDER-RIGHT: #f2e7ab 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #f2e7ab 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 4px; BORDER-LEFT: #f2e7ab 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #f2e7ab 1px solid; BACKGROUND-COLOR: #fffff9
}
.members {
	BORDER-RIGHT: #cecece 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #cecece 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; MARGIN: 4px; BORDER-LEFT: #cecece 1px solid; PADDING-TOP: 8px; BORDER-BOTTOM: #cecece 1px solid; HEIGHT: 538px; BACKGROUND-COLOR: #fcfcfc
}
.gmember {
	FLOAT: left; MARGIN: 4px 2px 2px 4px; WIDTH: 60px; HEIGHT: 56px
}
.gmember IMG {
	BORDER-RIGHT: #777 1px solid; BORDER-TOP: #777 1px solid; BORDER-LEFT: #777 1px solid; WIDTH: 45px; BORDER-BOTTOM: #777 1px solid; HEIGHT: 40px; ; HEIGHT: expression(this.height > 40 && "40px"); max-height: 40px
}
.member_list {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; FLOAT: left; MARGIN: 2px 2px 2px 4px; BORDER-LEFT: #ccc 1px solid; WIDTH: 62px; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 92px; TEXT-ALIGN: center
}
.member_list IMG {
	BORDER-RIGHT: #777 1px solid; BORDER-TOP: #777 1px solid; BORDER-LEFT: #777 1px solid; WIDTH: 45px; ; WIDTH: expression(this.width > 45 && "45px"); BORDER-BOTTOM: #777 1px solid; HEIGHT: 40px; ; HEIGHT: expression(this.height > 40 && "40px"); max-height: 40px; max-width: 45px
}
.onmessage {
	PADDING-LEFT: 22px; BACKGROUND-IMAGE: url(/images/group/template/5/onmessage.gif); PADDING-TOP: 6px; HEIGHT: 16px
}
.offmessage {
	PADDING-LEFT: 22px; BACKGROUND-IMAGE: url(/images/group/template/5/offmessage.gif); PADDING-TOP: 6px; HEIGHT: 16px
}
.mod1 {
	WIDTH: 0px; HEIGHT: 0px
}
.flink {
	LINE-HEIGHT: 22px
}
.flink A {
	LINE-HEIGHT: 18px
}
.sidebar {
	MARGIN: 5px; min-width: 20%
}
.sidebar1 {
	MARGIN: 5px; min-width: 20%
}
.tempDIV {
	Z-INDEX: 10; CURSOR: move; POSITION: absolute
}
.nouse {
	BORDER-RIGHT: #cdcdcd 1px solid; BORDER-TOP: #cdcdcd 1px solid; MARGIN-BOTTOM: 8px; BORDER-LEFT: #cdcdcd 1px solid; BORDER-BOTTOM: #cdcdcd 1px solid; BACKGROUND-COLOR: #fff
}
.t {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(http://img1.51cto.com/images/group/template/6/blue_bar.gif); PADDING-BOTTOM: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-x; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 35px; BACKGROUND-COLOR: #fff; BORDER-BOTTOM-STYLE: none
}
.t A {
	COLOR: #357b18; TEXT-DECORATION: none
}
.t A:hover {
	COLOR: #f00
}
.title_mod {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.jinghua {
	
}
.jinghua A {
	TEXT-DECORATION: underline
}
.modHeader {
	MARGIN-LEFT: 5px; COLOR: #357b18; PADDING-TOP: 6px; HEIGHT: 24px
}
.modHeader TABLE {
	COLOR: #357b18
}
TD {
	COLOR: #357b18
}
.tablet {
	COLOR: #987f60
}
.mod .mbody {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.c {
	COLOR: #464646
}
.xuxian {
	BORDER-TOP: #888888 1px dashed; BORDER-BOTTOM: #888888 1px dashed
}
.xuxian2 {
	BORDER-TOP: #888888 1px dashed
}
.mod .lb {
	BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 5px; HEIGHT: 16px
}
#innerFooter {
	MARGIN-TOP: 26px; COLOR: #f7f7f7
}
#contact A {
	COLOR: #000
}
#copyright {
	PADDING-BOTTOM: 6px; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 6px
}
.addarticle {
	FLOAT: right; WIDTH: 10%; TEXT-ALIGN: right
}
FORM {
	DISPLAY: inline; MARGIN: 0px
}
#banner51cto {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: 990px; PADDING-TOP: 2px; HEIGHT: 37px; BACKGROUND-COLOR: #241b11
}
#blogtopart {
	BORDER-RIGHT: #c2c2c2 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #c2c2c2 1px solid; PADDING-LEFT: 4px; BORDER-LEFT: #c2c2c2 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #c2c2c2 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #eaeaea
}
.user_login {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(/images/user_login.gif); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 135px; HEIGHT: 26px; BORDER-RIGHT-WIDTH: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.wd {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: url(/images/wd_bg.gif) no-repeat; LEFT: 12%; PADDING-BOTTOM: 5px; WIDTH: 285px; PADDING-TOP: 5px; POSITION: absolute; TOP: 32px; HEIGHT: 166px
}
.wd1 {
	BORDER-RIGHT: #c7c7c7 1px solid; BORDER-TOP: #c7c7c7 1px solid; BORDER-LEFT: #c7c7c7 1px solid; WIDTH: 279px; BORDER-BOTTOM: #c7c7c7 1px solid; HEIGHT: 160px; BACKGROUND-COLOR: #fff
}
.wd_tit {
	BACKGROUND: url(/images/wd_bg1.gif) no-repeat; MARGIN: 7px auto; WIDTH: 265px; HEIGHT: 28px
}
.wd_l {
	PADDING-LEFT: 28px; BACKGROUND: url(/images/wd_go.gif) no-repeat; FLOAT: left; MARGIN: 10px 0px 0px 10px; WIDTH: 190px; HEIGHT: 12px
}
 HTML .wd_l {
	MARGIN: 10px 0px 0px 5px
}
UNKNOWN {
	MARGIN: 10px 0px 0px 10px
}
.wd_l SPAN {
	FONT-WEIGHT: bold
}
.wd_r {
	PADDING-RIGHT: 8px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; WIDTH: 15px; PADDING-TOP: 8px; HEIGHT: 14px
}
.wd_list {
	MARGIN: 6px auto 0px; WIDTH: 265px; HEIGHT: 116px
}
.wd_list_l {
	FLOAT: left; WIDTH: 84px
}
.wd_list_t {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; BACKGROUND: url(/images/wd_list_bg1.gif) no-repeat; MARGIN-BOTTOM: 1px; PADDING-BOTTOM: 0px; WIDTH: 69px; PADDING-TOP: 12px; HEIGHT: 14px
}
.wd_list_t A {
	COLOR: #4c7ab0; TEXT-DECORATION: none
}
.wd_list_t A:visited {
	COLOR: #4c7ab0; TEXT-DECORATION: none
}
.wd_list_t A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
.wd_list_t1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; BACKGROUND: url(/images/wd_list_bg2.gif) no-repeat; MARGIN-BOTTOM: 1px; PADDING-BOTTOM: 0px; WIDTH: 69px; PADDING-TOP: 12px; HEIGHT: 14px
}
.wd_list_t1 A {
	COLOR: #4c7ab0; TEXT-DECORATION: none
}
.wd_list_t1 A:visited {
	COLOR: #4c7ab0; TEXT-DECORATION: none
}
.wd_list_t1 A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
.wd_list_li {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; BACKGROUND: url(/images/wd_list_bg3.gif) no-repeat; PADDING-BOTTOM: 0px; WIDTH: 70px; LINE-HEIGHT: 24px; PADDING-TOP: 8px; HEIGHT: 76px
}
.wd_list_li A {
	PADDING-RIGHT: 16px; PADDING-LEFT: 6px; PADDING-BOTTOM: 5px; MARGIN: 1px 0px; COLOR: #747474; PADDING-TOP: 6px; TEXT-DECORATION: none
}
.wd_list_li A:visited {
	PADDING-RIGHT: 16px; PADDING-LEFT: 6px; PADDING-BOTTOM: 5px; MARGIN: 1px 0px; COLOR: #747474; PADDING-TOP: 6px; TEXT-DECORATION: none
}
.wd_list_li A:hover {
	BACKGROUND: url(/images/wd_list_bg4.gif) no-repeat; COLOR: #c00; TEXT-DECORATION: underline
}
.wd_list_m {
	FLOAT: left; MARGIN-LEFT: 6px; WIDTH: 84px
}
.wd_list_r {
	FLOAT: right; WIDTH: 84px
}
.hot_art {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; COLOR: #000; PADDING-TOP: 3px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #fff
}
.top_txt {
	COLOR: #fff
}
#keyword {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; WIDTH: 90px; BORDER-BOTTOM: #ddd 1px solid; HEIGHT: 14px
}
#blogtopart A {
	COLOR: #000000
}
#blogtopart A:hover {
	COLOR: #353840
}
#blogso {
	MARGIN-TOP: 0px! important; FLOAT: right; MARGIN-LEFT: 2px; WIDTH: 44px! important
}
#blogsotext {
	FLOAT: right; WIDTH: 94px! important
}
#blogword {
	MARGIN-TOP: 2px; FLOAT: right; WIDTH: 145px! important
}
.artlist TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BACKGROUND-COLOR: #e8e8e8
}
#head A {
	COLOR: #fff
}
#domain {
	FONT-SIZE: 20px; FLOAT: left; WIDTH: 50%; TEXT-ALIGN: left
}
#head_demain {
	FONT-SIZE: 12px; FLOAT: left; WIDTH: 38%; TEXT-ALIGN: left
}
#head_left {
	FONT-WEIGHT: bold; FLOAT: left; WIDTH: 100%; TEXT-ALIGN: left
}
#head_right_link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FLOAT: right; WIDTH: 60%; TEXT-ALIGN: right
}
#headlogo {
	MARGIN: auto; WIDTH: 100%; HEIGHT: 100px
}
.t_a {
	BORDER-RIGHT: #cecece 1px solid; PADDING-RIGHT: 5px; BACKGROUND-POSITION: left top; BORDER-TOP: #cecece 1px solid; PADDING-LEFT: 5px; BACKGROUND-IMAGE: url(http://img1.51cto.com/images/group/template/6/art_a.gif); MARGIN-BOTTOM: 6px; PADDING-BOTTOM: 5px; BORDER-LEFT: #cecece 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #cecece 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #fafafa
}
.t_b {
	PADDING-RIGHT: 4px; BACKGROUND-POSITION: left top; PADDING-LEFT: 4px; BACKGROUND-IMAGE: url(http://img1.51cto.com/images/group/template/6/blue_bar.gif); PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 32px; BACKGROUND-COLOR: #fafafa
}
.t_b A {
	TEXT-DECORATION: none
}
.play_a {
	BACKGROUND-POSITION: center top; FLOAT: left; BACKGROUND-IMAGE: url(http://img1.51cto.com/images/group/template/6/play_a.gif); WIDTH: 74px; COLOR: #003765; PADDING-TOP: 8px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 23px; TEXT-ALIGN: center
}
.play_b {
	BACKGROUND-POSITION: center top; FLOAT: left; BACKGROUND-IMAGE: url(http://img1.51cto.com/images/group/template/6/play_b.gif); WIDTH: 74px; COLOR: #000; PADDING-TOP: 8px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 23px; TEXT-ALIGN: center
}
.huoyue TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.posttime {
	MARGIN-LEFT: 10px; WIDTH: 94%; MARGIN-RIGHT: 10px; TEXT-ALIGN: right
}
#content {
	MARGIN-LEFT: 10px; OVERFLOW: hidden; WIDTH: 94%; COLOR: #000; LINE-HEIGHT: 1.8; MARGIN-RIGHT: 10px; TEXT-ALIGN: left
}
#contentlist {
	MARGIN-LEFT: 10px; OVERFLOW: hidden; WIDTH: 94%; COLOR: #000; LINE-HEIGHT: 1.8; MARGIN-RIGHT: 10px; TEXT-ALIGN: left
}
.side_head {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #fff3e5; HEIGHT: 21px
}
.side_left {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-ALIGN: left
}
.side_center {
	FONT-SIZE: 12px; OVERFLOW: hidden; LINE-HEIGHT: 1.6
}
.side_sinfo {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 10px; OVERFLOW: hidden; WIDTH: 90%; LINE-HEIGHT: 1.8; PADDING-TOP: 10px; TEXT-ALIGN: left
}
.side_sinfo LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 250px; PADDING-TOP: 0px
}
.related {
	FLOAT: left; WIDTH: 48%
}
.side_cal {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-ALIGN: center
}
.side_user {
	FONT-SIZE: 12px; PADDING-BOTTOM: 1px; OVERFLOW: hidden; WIDTH: 100%; COLOR: #ffffff; PADDING-TOP: 1px; TEXT-ALIGN: left
}
#side .xml {
	BORDER-RIGHT: #8c8e7b 1px solid; BORDER-TOP: #8c8e7b 1px solid; BACKGROUND: #ffffff; BORDER-LEFT: #8c8e7b 1px solid; BORDER-BOTTOM: #8c8e7b 1px solid; FONT-FAMILY: Tahoma, Verdana
}
#side .xml A {
	COLOR: #ffffff
}
#side .xml_1 {
	FONT-SIZE: 7pt; BACKGROUND: #ff6500; COLOR: #ffffff
}
#side .xml_2 {
	FONT-SIZE: 7pt; BACKGROUND: #8c8e7b; COLOR: #ffffff
}
.side_content {
	OVERFLOW: hidden
}
#article .subject {
	MARGIN-TOP: 10px; FONT-WEIGHT: bold; FONT-SIZE: 18px; TEXT-ALIGN: center
}
.content {
	FONT-SIZE: 12px; OVERFLOW: hidden; WIDTH: 96%; COLOR: #000; LINE-HEIGHT: 1.8
}
#tool {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; WIDTH: 94%; COLOR: #000000; PADDING-TOP: 3px; BORDER-BOTTOM: #ccc 1px dashed; HEIGHT: 20px
}
#tool A {
	
}
.itcomment {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; COLOR: #40403d; LINE-HEIGHT: 1.6; PADDING-TOP: 10px
}
#gbook {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: #5e5e5e; FLOAT: left; PADDING-BOTTOM: 5px; BORDER-LEFT: #ffffff 1px solid; WIDTH: 73%; PADDING-TOP: 5px; BORDER-BOTTOM: #ffffff 1px solid
}
#g_content {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #5e5e5e; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BORDER-BOTTOM: #ffffff 1px dashed
}
#g_content .subject {
	COLOR: #ffffff
}
#g_content .content {
	COLOR: #ffffff
}
#g_reply {
	BORDER-RIGHT: #ffffff 1px dashed; PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px dashed; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN-LEFT: 20px; BORDER-LEFT: #ffffff 1px dashed; WIDTH: 90%; PADDING-TOP: 3px; BORDER-BOTTOM: #ffffff 1px dashed
}
#g_reply .subject {
	COLOR: #ffffff
}
#g_reply .content {
	COLOR: #ffffff
}
#reply_box {
	BORDER-RIGHT: #cccccc 1px dashed; BORDER-TOP: #cccccc 1px dashed; MARGIN: 10px; BORDER-LEFT: #cccccc 1px dashed; BORDER-BOTTOM: #cccccc 1px dashed
}
#footer {
	BACKGROUND-IMAGE: url(http://img1.51cto.com/images/group/template/6/green_bg.gif); MARGIN-LEFT: 0px; WIDTH: 100%; COLOR: #f7f7f7; HEIGHT: 80px; TEXT-ALIGN: center
}
#footer A {
	COLOR: #f7f7f7
}
.infos {
	COLOR: #464646
}
.line {
	BACKGROUND: url(/image/skin/dot.gif) repeat-x; HEIGHT: 1px
}
.plusfile {
	BORDER-RIGHT: #999999 1px dashed; PADDING-RIGHT: 10px; BORDER-TOP: #999999 1px dashed; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 10px; BORDER-LEFT: #999999 1px dashed; PADDING-TOP: 10px; BORDER-BOTTOM: #999999 1px dashed
}
.copy {
	BORDER-RIGHT: #bcbcbc 1px dashed; PADDING-RIGHT: 4px; BORDER-TOP: #bcbcbc 1px dashed; PADDING-LEFT: 4px; FONT-SIZE: 12px; PADDING-BOTTOM: 4px; MARGIN: 10px; BORDER-LEFT: #bcbcbc 1px dashed; COLOR: #888; LINE-HEIGHT: 20px; PADDING-TOP: 4px; BORDER-BOTTOM: #bcbcbc 1px dashed; LETTER-SPACING: 1px
}
A.hidden:link {
	DISPLAY: none
}
A.hidden:visited {
	DISPLAY: none
}
A.hidden:hover {
	DISPLAY: none
}
A.hidden:active {
	DISPLAY: none
}
.hidden {
	DISPLAY: none
}
.sun_div {
	CURSOR: pointer
}
A.art_t {
	COLOR: #357b18
}
A.art_t:link {
	COLOR: #357b18
}
A.art_t:visited {
	COLOR: #357b18
}
A.art_t:hover {
	COLOR: #001065
}
A.art_title {
	FONT-SIZE: 14px; TEXT-DECORATION: none
}
A.art_title:link {
	FONT-SIZE: 14px; TEXT-DECORATION: none
}
A.art_title:visited {
	FONT-SIZE: 14px; TEXT-DECORATION: none
}
A.art_title:hover {
	FONT-SIZE: 14px; TEXT-DECORATION: none
}
A.art_title2 {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.art_title2:link {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.art_title2:visited {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.art_title2:hover {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.ffa {
	COLOR: #000; TEXT-DECORATION: underline
}
A.fft {
	COLOR: #fff; TEXT-DECORATION: underline
}
A.ffb {
	COLOR: #ef0; TEXT-DECORATION: underline
}
A.ffc {
	FONT-SIZE: 14px; COLOR: #464646; TEXT-DECORATION: none
}
.top_message {
	FLOAT: right; WIDTH: 100px; COLOR: #ff0; MARGIN-RIGHT: 10px; PADDING-TOP: 0px
}
.top_message A {
	COLOR: #ff0
}
.albumalert {
	BORDER-RIGHT: #777 1px solid; BORDER-TOP: #777 1px solid; BACKGROUND: #fff; BORDER-LEFT: #777 1px solid; WIDTH: 250px; BORDER-BOTTOM: #777 1px solid; HEIGHT: 150px
}
.alerttitle {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(/images/quickwindow.jpg); PADDING-BOTTOM: 6px; COLOR: #000; PADDING-TOP: 6px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 22px; TEXT-ALIGN: left
}
.alertcentent {
	LINE-HEIGHT: 30px
}
.blog_cto_hu {
	COLOR: #ffff00
}
A.blog_huang :link {
	COLOR: #ffff00; TEXT-DECORATION: underline
}
A.blog_huang :visited {
	COLOR: #ffff00; TEXT-DECORATION: underline
}
A.blog_huang :hover {
	COLOR: #ffff00; TEXT-DECORATION: none
}
A.blog_huang :active {
	COLOR: #ffff00; TEXT-DECORATION: underline
}
CODE {
	BORDER-RIGHT: #282828 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #282828 1px solid; DISPLAY: block; PADDING-LEFT: 1em; BACKGROUND: #222; PADDING-BOTTOM: 1em; MARGIN: 0.5em; FONT: 1em Fixedsys; BORDER-LEFT: #282828 1px solid; COLOR: #888; PADDING-TOP: 1em; BORDER-BOTTOM: #282828 1px solid
}
CODE SPAN {
	COLOR: #666; FONT-FAMILY: Verdana
}
#fixed {
	RIGHT: 0px; POSITION: fixed; TOP: 120px
}
.fixed2 {
	BORDER-RIGHT: #58b0dd 1px solid; BORDER-TOP: #58b0dd 1px solid; LEFT: 20%; BORDER-LEFT: #58b0dd 1px solid; WIDTH: 180px; BORDER-BOTTOM: #58b0dd 1px solid; POSITION: fixed; TOP: 60px; BACKGROUND-COLOR: #fff
}
A.fhhh:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.fhhh:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.fhhh:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.fhhh:active {
	COLOR: #000000; TEXT-DECORATION: none
}
.font1 {
	FONT-SIZE: 18px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.font2 {
	FONT-FAMILY: Arial
}
.font3 {
	FONT-SIZE: 13px; VERTICAL-ALIGN: middle; COLOR: #003765; LINE-HEIGHT: 40px
}
.font4 {
	FONT-WEIGHT: bold
}
.font5 {
	FONT-WEIGHT: bold; COLOR: #e70000
}
.font5-1 {
	FONT-WEIGHT: bold; COLOR: #ff7800
}
.font5-2 {
	FONT-WEIGHT: bold; COLOR: #004cbf
}
.font5-3 {
	FONT-WEIGHT: bold; COLOR: #2ea200
}
.font6 {
	COLOR: #e70000
}
.font7 {
	COLOR: #4a4a4a
}
.font8 {
	FONT-SIZE: 14px; COLOR: #4a4a4a; LINE-HEIGHT: normal
}
.font9 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #4a4a4a
}
A.fa:link {
	COLOR: #003765; TEXT-DECORATION: none
}
A.fa:visited {
	COLOR: #003765; TEXT-DECORATION: none
}
A.fa:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.fa:active {
	COLOR: #003765; TEXT-DECORATION: none
}
A.fb:link {
	COLOR: #003765; TEXT-DECORATION: underline
}
A.fb:visited {
	COLOR: #003765; TEXT-DECORATION: underline
}
A.fb:hover {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A.fb:active {
	COLOR: #003765; TEXT-DECORATION: underline
}
A.fc:link {
	COLOR: #4a4a4a; TEXT-DECORATION: none
}
A.fc:visited {
	COLOR: #4a4a4a; TEXT-DECORATION: none
}
A.fc:hover {
	COLOR: #000; TEXT-DECORATION: underline
}
A.fc:active {
	COLOR: #4a4a4a; TEXT-DECORATION: none
}
.font8 TD {
	FONT-SIZE: 14px; COLOR: #4a4a4a; LINE-HEIGHT: 1.6
}
.text1 {
	BORDER-RIGHT: #a7a6aa 1px solid; BORDER-TOP: #a7a6aa 1px solid; BORDER-LEFT: #a7a6aa 1px solid; WIDTH: 14px; BORDER-BOTTOM: #a7a6aa 1px solid; HEIGHT: 16px; BACKGROUND-COLOR: #ffffff
}
.smalltxt {
	FONT: 12px Arial, Tahoma
}
.smalltxt2 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
.altbg2 {
	BACKGROUND: #f8f8f8
}
.user_icon_bili {
	; WIDTH: expression(this.width > 135 && "135px"); CURSOR: pointer; ; HEIGHT: expression(this.height > 98 && "98px"); max-height: 98px; max-width: 135px
}
